<div class="relative my-4">
    <div class="absolute inset-0 flex items-center" aria-hidden="true">
      <div class="w-full border-t border-teal-500"></div>
    </div>
    <div class="relative flex justify-center">
      <span class="bg-green-50 dark:bg-slate-900 px-1 text-md text-gray-50 font-semibold"><%=innerText%></span>
    </div>
  </div>